<div>
  <h2>
    First Name <input type="text" pattern="[a-zA-Z-.]*" minlength="2" required [(ngModel)] = "firstName" name = "fName" #fName = "ngModel">
  </h2>
  <h2>
    Last Name  <input type="text" pattern="[a-zA-Z-.]*" minlength="3" required [(ngModel)] = "lastName" name = "lName" #lName = "ngModel">
  </h2>
  <h2>
    Street Address <input type="text" pattern="[a-zA-Z0-9- ]*" minlength="3" required [(ngModel)] = "streetName" name = "sName" #sName = "ngModel">
  </h2>
  <input type='button' (click)= submitInfo() value='Submit Address'>
  <div [hidden]="fName.valid || fName.pristine"></div>
  <h3>
    <p *ngIf="fName?.errors?.required && submitted">
      First name is required.</p>
    <p *ngIf="fName?.errors?.minlength && submitted">
      First name must have at least TWO characters.</p>
    <p *ngIf="fName?.errors?.pattern && submitted">
      Only alphabetical characters and hyphens are allowed for first name.</p>
  </h3>
  <div [hidden]="lName.valid || lName.pristine"></div>
  <h3>
    <p *ngIf="lName?.errors?.required && submitted">
      Last name is required.</p>
    <p *ngIf="lName?.errors?.minlength && submitted">
      Last name must have at least THREE characters.</p>
    <p *ngIf="lName?.errors?.pattern && submitted">
      Only alphabetical characters and hyphens are allowed for last name.</p>
  </h3>
  <div [hidden]="sName.valid || sName.pristine"></div>
  <h3>
    <p *ngIf="sName?.errors?.required && submitted">
      Street name is required.</p>
    <p *ngIf="sName?.errors?.minlength && submitted">
      Street name must have at least THREE characters.</p>
    <p *ngIf="sName?.errors?.pattern && submitted">
      Only alphabetical characters, numbers and hyphen are allowed for street name.</p>
  </h3>
</div>

<div>
  <input type='button' (click)= addItem(name,qty) value='Add Item'> <select [(ngModel)] = "name" name= "itemName" #itemName="ngModel"><option *ngFor="let fruit of fruits">{{fruit.name}}</option></select> 
  <label>Qty</label><input [(ngModel)] = "qty" type="text" pattern="[0-9]*" required name="quantity" #quantity="ngModel">

  <div [hidden] = "quantity.valid"></div>
  <h3>
    <p *ngIf = "quantity?.errors?.required">
      Quantity is required
    </p>
  </h3>
</div>

<div>

</div>

<div>
  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Qty   &nbsp;  Unit Price  &nbsp;   Amount</h4>
  <table><tr *ngFor="let item of items"><td>{{item.itemName}} &nbsp;&nbsp;&nbsp;&nbsp;{{item.itemQty}} &nbsp;&nbsp;&nbsp;&nbsp;{{item.itemPrice}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.itemAmount}} <input type="button" value="delete" (click)= removeItem(item.itemIndex)></td></tr></table>
  <div>
    <p>Subtotal  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{sum}}</p>
    <p>Taxes 5%  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{sum*0.05}} </p>
    <p>Total     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{sum*1.05}}</p>
  </div>

</div>
<div [hidden]="fName.invalid || lName.invalid || sName.invalid"></div>
<p *ngIf="submitted && fName.valid && lName.valid && sName.valid">Order for {{firstName}} {{ lastName}} at {{streetName}}</p>